# Python

backend/ai-service/venv/
backend/ai-service/__pycache__/
*.pyc

# SAM model

*.pth

# Node

node_modules/

# Upload files

backend/uploads/

# Environment files

.env

# Angular build files

dist/
.angular/

# Editor files

.vscode/

# OS files

.DS_Store
Thumbs.db